<!DOCTYPE html>
<html>

<head>
    <title>에러</title>
    <link rel="stylesheet" type="text/css" href="/css/sample.css?ver=1"/>
</head>

<body class="all_design">
    <h1><%=err%></h1>
    <a href="javascript:history.back()">뒤로가기</a>
</body>