<head>
    <title>홈 화면</title>
    <link rel="stylesheet" type="text/css" href="/css/sample.css?ver=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body class="all_design">
    <nav id="topMenu">
        <ul>
            <li class="menulink"><a href="/" class="active">홈</a></li>
            <li class="menulink"><a href="">검침관리</a></li>
            <li class="menulink"><a href="">부과관리</a></li>
            <li class="menulink"><a href="">수납관리</a></li>
            <li class="menulink"><a href="">지출관리</a></li>
            <li class="menulink"><a href="">인사/계약</a></li>
            <li class="menulink"><a href="">유지보수공사</a></li>
            <li class="menulink"><a href="">회계/예산관리</a></li>
            <li class="menulink"><a href="A/AA1">단지/민원관리</a></li>
            <li class="menulink"><a href="">조직/단체관리</a></li>
        </ul>
    </nav>
    <h1>홈 화면</h1>
    <h2>안녕하세요, <%=realname%>님</h2>
    <p><a href="/auth/update">회원정보수정</a>
    <p><a href="/auth/logout">로그아웃</a>
    <h2>테스트 메뉴</h2>
    <p><a href="/A/AA1">단지/건물 메뉴</a></p>
    <p><a href="/A/AA2">부대/복리/관리시설 메뉴</a></p>
    <p><a href="/auth/menu3">메뉴3</a></p>
    <p><a href="/auth/menu4">메뉴4</a></p>
    <p><a href="/auth/menu5">메뉴5</a></p>
</body>