<html>

<head>
	<title>부대/복리/관리시설</title>
	<link rel="stylesheet" type="text/css" href="/css/sample.css?ver=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
	.tg {
		border-collapse: collapse;
		border-spacing: 0;
	}

	.tg td {
		border-color: black;
		border-style: solid;
		border-width: 1px;
		font-family: Arial, sans-serif;
		font-size: 14px;
		overflow: hidden;
		padding: 10px 5px;
		word-break: normal;
	}

	.tg th {
		border-color: black;
		border-style: solid;
		border-width: 1px;
		font-family: Arial, sans-serif;
		font-size: 14px;
		font-weight: normal;
		overflow: hidden;
		padding: 10px 5px;
		word-break: normal;
	}

	.tg .tg-o40d {
		border-color: #9b9b9b;
		text-align: center;
		vertical-align: top
	}

	.tg .tg-knq9 {
		background-color: #f4f9ff;
		border-color: #9b9b9b;
		text-align: center;
		vertical-align: top
	}

	.tg .tg-ojrl {
		background-color: #dbd9db;
		border-color: #9b9b9b;
		text-align: center;
		vertical-align: top
	}

	.tg .tg-yci3 {
		background-color: #e3eefc;
		border-color: #9b9b9b;
		text-align: center;
		vertical-align: top
	}

	/* footer */
	.footer {
		background: #303036;
		color: #d3d3d3;
		height: 400px;
	}
</style>

<body class="all_design">
	<nav id="topMenu">
		<ul>
			<li class="menulink"><a href="/">홈</a></li>
			<li class="menulink"><a href="">검침관리</a></li>
			<li class="menulink"><a href="">부과관리</a></li>
			<li class="menulink"><a href="">수납관리</a></li>
			<li class="menulink"><a href="">지출관리</a></li>
			<li class="menulink"><a href="">인사/계약</a></li>
			<li class="menulink"><a href="">유지보수공사</a></li>
			<li class="menulink"><a href="">회계/예산관리</a></li>
			<li class="menulink"><a href="" class="active">단지/민원관리</a></li>
			<li class="menulink"><a href="">조직/단체관리</a></li>
		</ul>
	</nav>

	<div class="content">
		<nav id="subMenu">
			<ul>
				<li class="menulink"><a href="" class="active">단지정보등록</a></li>
				<li class="menulink"><a href="">전출입관리</a></li>
				<li class="menulink"><a href="">민원관리</a></li>
			</ul>
		</nav>
		<div>
			<nav id="Menu">
				<ul>
					<li class="menulink"><a href="AA1">단지/건물</a></li>
					<li class="menulink"><a href="" class="active">부대/복리/관리시설</a></li>
					<li class="menulink"><a href="">사업자등록</a></li>
					<li class="menulink"><a href="">장기수선시설</a></li>
					<li class="menulink"><a href="">등호등록</a></li>
				</ul>
			</nav>
			<table class="tg" style="table-layout: fixed; width: 649px">
				<colgroup>
					<col style="width: 99px">
					<col style="width: 117px">
					<col style="width: 115px">
					<col style="width: 90px">
					<col style="width: 70px">
					<col style="width: 68px">
					<col style="width: 90px">
				</colgroup>
				<tbody>
					<tr>
						<td class="tg-yci3">관리사무실</td>
						<td class="tg-knq9">연면적</td>
						<td class="tg-o40d"></td>
						<td class="tg-yci3" rowspan="3">경비실</td>
						<td class="tg-knq9">개소</td>
						<td class="tg-o40d" colspan="2"></td>
					</tr>
					<tr>
						<td class="tg-yci3">경로당</td>
						<td class="tg-knq9">연면적</td>
						<td class="tg-o40d"></td>
						<td class="tg-knq9" rowspan="2">cctv 설치</td>
						<td class="tg-o40d">모니터</td>
						<td class="tg-o40d"></td>
					</tr>
					<tr>
						<td class="tg-yci3">입주자집회소</td>
						<td class="tg-knq9">연면적</td>
						<td class="tg-o40d"></td>
						<td class="tg-o40d">카메라</td>
						<td class="tg-o40d"></td>
					</tr>
					<tr>
						<td class="tg-yci3">어린이놀이터</td>
						<td class="tg-knq9">총면적</td>
						<td class="tg-o40d"></td>
						<td class="tg-o40d" colspan="4">개소</td>
					</tr>
					<tr>
						<td class="tg-yci3" rowspan="2">주민운동시설</td>
						<td class="tg-knq9">ooo장</td>
						<td class="tg-o40d"></td>
						<td class="tg-knq9" colspan="2">ooo장</td>
						<td class="tg-o40d" colspan="2"></td>
					</tr>
					<tr>
						<td class="tg-knq9">ooo장</td>
						<td class="tg-o40d"></td>
						<td class="tg-knq9" colspan="2">ooo장</td>
						<td class="tg-o40d" colspan="2"></td>
					</tr>
					<tr>
						<td class="tg-yci3">주차장</td>
						<td class="tg-knq9">주차대수</td>
						<td class="tg-o40d"></td>
						<td class="tg-o40d" colspan="4">지상:대 지하:대</td>
					</tr>
					<tr>
						<td class="tg-yci3">오수정화조</td>
						<td class="tg-knq9">톤(1일처리용량)</td>
						<td class="tg-o40d"></td>
						<td class="tg-yci3" rowspan="2">지하음용수</td>
						<td class="tg-knq9">용량</td>
						<td class="tg-o40d" colspan="2"></td>
					</tr>
					<tr>
						<td class="tg-yci3" rowspan="3">공동저수시설</td>
						<td class="tg-knq9">용량</td>
						<td class="tg-o40d"></td>
						<td class="tg-knq9">설치장소</td>
						<td class="tg-o40d" colspan="2"></td>
					</tr>
					<tr>
						<td class="tg-knq9">지하수조</td>
						<td class="tg-o40d"></td>
						<td class="tg-yci3" rowspan="2">승강기</td>
						<td class="tg-knq9">제조회사</td>
						<td class="tg-o40d" colspan="2"></td>
					</tr>
					<tr>
						<td class="tg-knq9">고가수조</td>
						<td class="tg-o40d"></td>
						<td class="tg-knq9">대수</td>
						<td class="tg-o40d" colspan="2">인승 대</td>
					</tr>
					<tr>
						<td class="tg-ojrl">기타</td>
						<td class="tg-o40d" colspan="6"></td>
					</tr>
				</tbody>
			</table>	
		</div>
	</div>
</body>